

<%= link_to "Add new", new_cocktail_path, class: "btn btn-primary" %>
<br>
<br>
<br>

<% @cocktails.each do |cocktail| %>
  <div class="card-drink">
    <div class="card-drink-infos">
      <div>
      <img src="https://images.unsplash.com/photo-1536935338788-846bb9981813?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1372&q=80" style="height:300px; border-radius: 5px" />
          <%= link_to cocktail.name, cocktail_path(cocktail.id)%>
      </div>
    </div>
  </div>
<% end %>


