<h1>cocktails#new</h1>
<p>Find me in app/views/cocktails/new.html.erb</p>

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name, :as => :text, input_html: { :style=> 'width: 300px;' }%>
  <%= f.submit "add", class: "btn btn-primary" %>
<% end %>
<br>

<%= link_to "Back to Homepage", cocktails_path, class: "btn btn-primary"%>

